body{
    font-family: 'Source Sans 3', sans-serif;
}

.font-i{
    font-size: 24px;
    cursor: pointer;
    color: #828284;
    margin-left: 24px !important;
}

#navbarNavDropdown a{
    font-size: 16px;
    color:  #828284;
    font-weight:bold;
}

.banner{
    margin: 0px 10px;
}

.carousel-item img{
    height:520px
}

.carousel-indicators button{
    width: 10px!important;
    height: 10px!important;
    border-radius: 100%;
    margin: 0px 7px!important;
    background-color: #117a7a!important;
}

.carousel-indicators{
    position: absolute;
    top: 530px;
}

h3{
    font-weight: 900;
    line-height: 24px;
    letter-spacing: normal;
    text-align: center;
    color: #282c3f;
    margin-top: 24px;   
    
}

.fandomsection img {
    height:450px ;
    width: 485px;
    margin: 9px 9px 9px 9px;
    margin-top: 28px;
}

.arrivalsection img{
    height:460px ;
    width: 358px;
    margin: 9px 9px 9px 9px;
    margin-top: 28px;
}

.collectionsection img {
    height:450px ;
    width: 485px;
    margin: 9px 9px 9px 9px;
    margin-top: 28px;
}

.categoriessection img{
    height:450px ;
    width: 485px;
    margin: 9px 9px 9px 9px;
    margin-top: 28px;
}

.carousel-item2{
    height:380px;
    width: 300px;
    margin: 9px 9px 9px 9px;
    margin-top: 28px;
}
    
.categoriesitem img{
    height:360px ;
    width: 360px;
    margin: 7px 4px 7px 10px;
    margin-top: 14px;   
}

.sellingsection img{
    height:460px ;
    width: 358px;
    margin: 9px 9px 9px 9px;
    margin-top: 28px;
}

.membersection img{
    height:380px ;
    width: 99%;
    margin: 9px 9px 9px 9px;
    margin-top: 28px;
}

.hardiksection img{
    height: 510px;
    width: 99%;
    margin: 9px 9px 9px 9px;
    margin-top: 28px;
    
}

.logosection img{
    height:210px ;
    width: 240px;
    margin: 9px 30px 9px 30px;
    margin-top: 28px;
}

h1{
    height:66px;
    text-align: center;
    margin-top: 30px;
    background-color: red;
    color: white;
    padding:10px 0px 10px 0px;
    font-weight: 640;
}

h5{
    height:70px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 800;
    font-size: 45px;
}

.footersection {
    background-color: #e6e7e8;
}

.footersection h5 {
    margin-top: 40px;
    font-size: 22px;
    font-weight:bold;
    color: red;
    text-align: left;
    padding-left: 80px;
}

.footersection li{
    font-size: 16px;
    font-weight:bold;
    color:black;
    text-align: left;
    padding-left: 80px;
}

.footersection div{
    margin-left: 40px;   
}

h6{
    font-weight: bold;
    color: black;
    text-align: center;
    font-size: 18px;
    margin-top: 40px;
}
